*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(/static/img/forest.jpg);
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin-bottom: 15px;
    background-color: rgb(29, 44, 44, 0.75);
}

h1{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.right-nav{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.nav-submit {
    font-size: 20px;
    background-color: slategray;
    border-radius: 4px;
    padding: 10px 15px;
    color: white;
}

label, p {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.form-input {
    height: 30px;
    font-size: 20px;
}

.form-submit {
    background-color: rgb(46, 94, 253);
    width: fit-content;
    padding: 10px;
    font-size: 20px;
    border: 0px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(29, 44, 44, 0.75);
    padding: 25px;
    height: 500px;
    width: 20%;
    border-radius: 10px;
    border: 0px solid lightgray;
    margin: 0px 30px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.body-container {
    display: flex;
    padding: 40px;
    justify-content: center;
}

textarea {
    height: 150px;
    font-size: 20px;
}

.sightings-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    background-color: rgba(29, 44, 44, 0.75);
    padding: 25px;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    border: 0px solid lightgray;
    margin: 0px 30px;
    color: white;
    min-width: 1000px;
}

.flash-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0.336);
    color: black;
    padding: 10px;
    margin: 15px 0px;
    border-radius: 10px;
    border: 1px dashed black;
}

#create-container {
    width: 50%;
    height: fit-content;
}

#number, #date {
    width: 150px;
    height: 30px;
    font-size: 20px;
}

.sighting-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
}

.sighting{
    display: flex;
}

.container-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 15px;
}

#skeptics{
    flex: 0.75;
    align-items: center;
}
#sighting-actual{
    flex: 3;
}
#links{
    flex:2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

p{
    margin-top: 5px;
}
#links .nav-submit{
    margin-top: 5px;
}
#dashboard-container{
    border: 2px solid white;
    border-collapse: collapse;
}

.sightings-container h1, .sightings-container h2, .sightings-container input {
    margin: 5px 0px;
}